

<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Sistema de Citas medicas</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/vue-toastr-2/dist/vue-toastr-2.min.css">
</head>

<body>
  
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="jumbotron" style="text-align: center">SISTEMA DE CITAS MEDICAS</h1>
        <div id="app">
          <table class="table table-stripped">
            <thead>
              <tr>
                <th style="width:40px;"></th>
                <th style="width:300px ;">NUMERO IDENTIDAD</th>
                <th >PACIENTE</th>
                <th style="width:150px;">FECHA</th>
                <th style="width:200px;">DOCTOR</th>
                <th style="width:100px;">¿Cancelado?<th>               
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td>
                  <input type="text" v-mask="'####-####-#####'" class="form-control" v-model="newEntry.n_identidad" />
                </td>
                <td>
                  <input type="text" class="form-control" v-model="newEntry.paciente" />
                </td>
                <td>
                    <input type="text" v-mask="'##-##-####'" class="form-control" v-model="newEntry.fecha" placeholder="dd-mm-yyyy" />
                  </td>
                <td type="text-center">
                   DR. HUESO
                </td> 
                <td>
                  <button @click="add()"type="button" class="btn btn-success btn-block">Agregar</button>
                </div>
                
              </tr>
              <tr v-if="items.length == 0">
                <td colspan="4" class="text-center">
                  No hay registros por mostrar
                </td>
              </tr>
              <tr v-for="item, index in items">  
                <td>
                  <button 
                    @click="remove(index)"
                    type="button" class="btn btn-danger btn-xs">
                    <i class="glyphicon glyphicon-trash"></i>
                  </button>
                </td>
                <td>{{ item.n_identidad }}</td>
                <td>{{ item.paciente }}</td>
                <td>{{  item.fecha}}</td>
                <th>DR. HUESO</th>
                <td class="text-center" :title="item.paid ? 'Si' : 'No'">
                  <button
                    @click="changeToPaid(item)"
                    class="btn btn-default btn-sm"
                    :class="{ 'btn-success': item.paid  }">
                      <i v-if="item.paid" class="glyphicon glyphicon-ok"></i>
                      <i v-if="!item.paid" class="glyphicon glyphicon-remove"></i>
                    </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> 
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/v-mask/dist/v-mask.min.js"></script>
  <script>
  Vue.use(VueMask.VueMaskPlugin);
  </script> 
 <script src="https://unpkg.com/vue-toastr-2/dist/vue-toastr-2.js"></script>
 

  <script>


    //CONECCION SERVE
    //npm i -g serve
      var app = new Vue({
      el: '#app', // Elemento
      data:{ // Parametros
        
          newEntry: {
            n_identidad: '',
            paciente: '',
            fecha:''
          
        
      },
        items: [/*{
            n_identidad: 'Andy Escobar',
            paciente: 'DR. HUESO',
            paid: false
          },
          {
            n_identidad: 'Miguel Hasbun',
            paciente: 'DR. HUESO',
            paid: true
          },*/
        ],
      },
      methods: {
        remove: function(index) {
          this.items.splice(index,1);
        },
        // Ecmascript 6 syntax
        add: function() {
          if(this.newEntry.n_identidad.length>14){
            if(this.newEntry.paciente.length>0){
              if(this.newEntry.fecha.length>9){
                this.items.push({n_identidad: this.newEntry.n_identidad,paciente: this.newEntry.paciente,fecha: this.newEntry.fecha ,paid: false});
                this.newEntry.n_identidad = '';
                this.newEntry.paciente = '';
                this.newEntry.fecha='';
                this.$toastr.success('Cita Agregada');
              }else{
                this.$toastr.error('Ingrese una fecha valida');
              }

            }else{
              this.$toastr.error('Porfavor ingrese un nombre al paciente');
            }

          }else{
            this.$toastr.error('Numero de Identidad no valido');
          }
          
         
        
          
        },
        changeToPaid:function (item) {
          item.paid = !(item.paid);
        },
        totalAmount(t){
          var total = this.items.reduce(function(a, b) {
              switch(t) {
                case 0: return a + (!b.paid ? b.amount : 0);
                case 1: return a + (b.paid ? b.amount : 0);
                case 2: return a + b.amount;
              }
            }, 0);
          return total.toFixed(2);
          }
      }
    });
</script>
</body>
</html>